.image-bounding-box {
  left: 200px;
  background-color: aqua;
}

.col {
  padding: 10px;
}

.satellite-section {
  margin-top: 10px;
  padding: 20px;
  background-color: rgb(175, 167, 230);
  border-radius: 25px;
}
