.sidebar {
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid rgb(238, 238, 238);
  margin-bottom: 3em;
  width: 100%;
}

.form-inline select{
  padding: 2em;
  text-align: center;
  margin: 0 1em;
}

.small-input{
  max-width: 5em;
  margin: 0 1em;
}
